
<td style="text-align: left;">{{id}}</td>
<td>{{nome}}</td>
<td>{{cpf}}</td>
<td class="actions">
	<div>
		<p>
			<a href="#editaPessoa/{{id}}" class="btn btn-info"> Editar </a>
			<a class="btn btn-danger remover"> Remover </a>
		</p>
	</div>
</td>
