<form class="form-horizontal" role="form">
	<input type="hidden" class="form-control" id="inputId" value="{{id}}">
	<div class="form-group">
		<label for="inputNome" class="col-sm-2 control-label">Nome</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputNome" placeholder="Nome" value="{{nome}}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputIdade" class="col-sm-2 control-label">Idade</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputIdade" placeholder="Idade" value="{{idade}}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputDono" class="col-sm-2 control-label">Dono</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputDono" placeholder="Dono" value="{{dono}}">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="salvaAnimal" type="button" class="btn btn-default">Salvar</button>
		</div>
	</div>
</form>